/* Importação da font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600;700;800&display=swap');
/*Cores Utilizadas no site*/
:root{
    --black:#000;
    --white: #fff;
    --semiBlack: rgba(29,29,29,0.8);
    --orange : #FD8D14;
    --red:#C51605;
    --green: #54B435;
    
}
/* Estilização aplicada a toda pagina */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Poppins;
}

html{
    
    scroll-behavior: smooth;
}

.navbar a{
    text-decoration: none;
    color: var(--white);
}
header .drop-menu a{
    color: var(--white);
    font-size: 20px;
}
/* Estilização do header  */

header{
    position: fixed;
    width: 100%;
    padding: 1rem 2rem;
    top: 0;
    left: 0;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo img{
    width: 80px;

}

.navbar .links{
    display: flex;
    gap: 1.5rem;
    font-size: 17px;
    font-weight: bold;
}

.navbar .links a:hover{
    color: var(--orange);
    transition: all 0.5s;
    border-bottom: 4px solid;
    padding: 6px 0;
    background: linear-gradient(rgba(253, 140, 20, 0.616)rgba(253, 141, 20, 0.8));
}

.navbar .toggle-btn{
    color: var(--white);
    font-size: 36px;
    cursor: pointer;
    display: none;
}
/* DROP MENU */
header .drop-menu{
    display: none;
    text-decoration: none;
    color: var(--white);
    position: absolute;
    right: 3.5rem;
    top: 70px;
    height: 0;
    width: 300px;
    background: var(--semiBlack);
    backdrop-filter: blur(10px);
    overflow: hidden;
    border-radius: 7px;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.drop-menu a:hover{
    color: var(--orange);
    transition: all 0,5s;
}

header .drop-menu.open{
    height: 240px;
}
header .drop-menu li{
    padding: 0.7rem;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilização do Corpo */

section.conteudo{
    height: 100vh;
    background-image:linear-gradient(rgba(29,29,29,0.8), rgba(29,29,29, 0.8)) ,url(./img/pexels-victor-cayke-17409458.jpg);
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section h1{
   color: var(--white); 
   text-align: center;
   font-size: 36px;
}

section h1 span{
    color: var(--orange);
}

section h4{
    text-align: center;
    color: var(--white);
    font-family: Courgette;
    font-weight: 300;
    font-size: 18px;
}
/* Estilizaçaõ do Botão */
.btn-home{
display: inline-flex;
justify-content: center;
width: 100%;
margin: 0 auto;
text-align: center;
padding: 30px;
}

.btn-peca{
    text-align: center;
    cursor: pointer;
    padding: 3px 30px;
    height: 35px;
    border-radius: 7px;
    border-style: inherit;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--orange);
    
}

.btn-peca a{
    text-decoration: none;
    color: var(--white);
}

.btn-peca a:hover{
    color: var(--orange);
    transition: all 0.5s;
}

section .btn-peca:hover{
    color: var(--orange);
    background-color: var(--black);
    box-shadow:  0.3rem 0.4rem var(--orange);
    transition: all 0.5s;
}

section.conteudo-sobre{
    height: 100vh;
    display: flex;
    background: var(--black);
    align-items: center;
    justify-content: center;
    padding: 60px 4%;

}

section .sobrenos-text h1{
    font-size: 36px;
    text-align: left;
    margin-left: 30px;

}
section .sobrenos-text p{
    color: var(--white);
    margin-left: 30px ;
    line-height: 1.5rem;
}
section .sobrenos-text h1 span:hover{
    text-decoration: underline;
}
section .sobrenos-img img{
    border-radius: 39px;
    width: 500px;
    padding: 20px 4%;
}

section .sobrenos-img img:hover{
    box-shadow: 0.3rem 0.4rem 1rem var(--orange);
    padding: 0;
    transition: all 1s;
}

section.cardapio{
    display: flex;
    height: 80vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url(./img/background\ coxinha.png);
    background-repeat: repeat;
    background-size: cover;
    gap: 1rem;
    flex-wrap: wrap;
    
}

section .card{
    width: 261px;
    height: 374px;
    background: var(--black);
    border-radius: 12px;
    text-align: center;
}

section .card:hover{
    box-shadow: 0 0.1rem 0.5rem 0.2rem var(--semiBlack);
    transition: all 0.5s;
}
section .card img{
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    width: 200px;
    margin-left: 28px;
    margin-top: 18px;
}

section .card h1{
    font-size: 15px;
    margin-top: 20px;
}
section .card p{
    color: var(--white);
    text-align: center;
}

section .card span{
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;


}
.btn-trad{
    display: flex;
    width: 80%;
    padding: 15px;
    margin-left: 25px;
    font-size: 18px;
    font-weight: 600;
    background: var(--orange);
    color: var(--white);
    border-radius: 9px;
}

.btn-trad:hover{
    background: var(--green);
    transition: all 1s;
    box-shadow: 0 0.1rem 0.5rem var(--green);
    border: none;
}
 
.tittle-home3 h1{
    height: 21vh;
    display: flex;
    background-color: var(--orange);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: var(--white);
    font-family: Courgette;


}

footer.footer{
    height: 20vh;
    display: flex;
    background: var(--black);
    background-size: cover;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

div.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 26px;

    
}

div.icons a{
    display: flex;

}

.text-footer h4{
    color: var(--white);
}

.text-footer h4 span{
    text-decoration: underline;

}
.text-footer i{
    color: var(--white);

}

@media screen and (max-width: 800px) {
    /* Header */
    .navbar .links{
        display: none;
    }

    .navbar .toggle-btn{
        display: block;
    }

    header .drop-menu{
        display: block;
    }

@media screen and (max-width: 576px){
    header .drop-menu{
        left: 2rem;
        width: unset;
    }
    
}
    section.conteudo-sobre{
        display: flex;
        flex-direction: column;
    }

    section .sobrenos-text{
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }

    section .sobrenos-text h1{
        text-align: center;
        font-size: 46px;
    }

    section .sobrenos-text p{
        font-size: 16px;
        margin-left: 0;
        padding: 20px 2%;
    }

    section .sobrenos-img img{
        width: 350px;
        border-radius: 35px;
    }

    section.cardapio{
        display: flex;
        height: 230vh;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        background: url(./img/background.png);
        background-repeat: repeat;
        gap: 2.5rem;
    }
    section .card{
        margin-top: px;
    }
}